<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Reddit API Test</title>
    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="app.css">
    
  </head>
  <body>
    <div>
      <div ng-app="AppPage">
        <div ng-controller="AppCtrl">
          <div id="leftSidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" ng-click="closeLeftNav()">&times;</a>
            <img class="profile-pic" src="https://f4.bcbits.com/img/a4062848838_10.jpg">
            <h4 class="messages-style">{{message}}</h4>
          </div>
          <div id="mesSidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" ng-click="closeMesNav()">&times;</a>
            <img class="profile-pic" src="https://f4.bcbits.com/img/a4062848838_10.jpg">
            <ul>
              <li ng-repeat = "message in messages track by $index" class="list-style">
                <h4 class="messages-style">{{message}}</h4>
              </li>
              <button class="message-btn" ng-click="refreshMessages()">
              Refresh  Messages
              </button>
            </ul>
            
          </div>




            <div id="main">
              <div class="pic-location">
                <img class="profile-pic" ng-click="openLeftNav()" src="https://f4.bcbits.com/img/a4062848838_10.jpg">

                <button class="message-btn" ng-click="openMesNav()">Messages</button>

                <div id="snackbar">
                  <ul>
                    <li ng-repeat = "newMessage in newMessages track by $index" class="list-style">
                      <h4>{{newMessage}}</h4>
                    </li>
                  </ul>
              </div>
            </div>
        </div>
      </div>
  </body>
</html>